<header>
  <nav>
    <a href="/">GAK Quotes 2</a>
    <ul>
      <li><a href="/">New Quote</a></li>
      <li><a href="/quotes">All Quotes</a></li>
      <li><a href="/quotes/new">Add A Quote</a></li>
    </ul>
  </nav>
</header>