
<div>
<!-- <label>Quote</label> -->
<!-- <input type="text" name="quote" value="<%= quote.quote %>" size="400" > -->
<textarea name="quote" maxlength="400" rows="6" cols="70"></textarea>
</div>

<div>
<label>Your Name</label>
<input type="text" name="contributor" value="<%= quote.name %>" size="60">
</div>