<h2>Add a Quote</h2>
<form action="/quotes" method="POST">
  <!-- inputs -->
  <%- include('_form_fields') %>

  <button class="btn btn-primary" type="submit">Create</button>

  <!-- cancel -->
  <a class="btn btn-danger" href="/quotes">Cancel</a>
</form>