<h2>New Quote</h2>
<form action="/quotes" method="POST">
  <!-- inputs -->
  <%- include('_form_fields') %>

  <!-- cancel -->
  <a href="/quotes">Cancel</a>
  <button type="submit">Create</button>
</form>